################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieApi/.vs/MovieApi/v16
/MovieApi/bin/Debug/netcoreapp3.1/runtimes
/MovieApi/obj/Debug/netcoreapp3.1/staticwebassets
/MovieApi/bin/Debug/netcoreapp3.1
/MovieApi/obj/Debug/netcoreapp3.1
/MovieApi/obj
